body{
    margin: 0px;
}

.element {
    margin: auto;
    width: 50%;
    padding-top: 5px;
}
h1{
    margin: 0px;

}
.title{
    text-align: center;
    background-color: black;
    color: white;

}
.title a{
    color: white;
    text-decoration: none;  

}
.active{
    font-weight: bold;
}


.description{
    text-align: center;
}
#chatMessages {
    width: 50%;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}
.chat{
    display: flex;
    flex-direction: column-reverse;
}
.usernNameField{
    width: 10%;

}
.messageField{
    width: 50%;
}
.sendButton{
    width: 10%;
    min-width: 50px;
}
.inputs{
    margin-bottom: 10px;
}
#messageTable ,#searchMessageTable{
    width: 100%;
}

.tdUser{
 width: 1px;
font-size: 85%;
vertical-align: top;
    
}
.tdMessage{
    padding-left: 10px;
}
.tdDate{
    text-align: right;
    font-size: 85%;
    vertical-align: bottom;
    width: 70px;
}
.checkbox{
    text-align: right;
    width: 1px;
}
.deleteButton button{
    width: 100%;


}
